.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.vite-ssg-temp

node_modules
.DS_Store
dist
dist-ssr
*.local

# lock
yarn.lock
package-lock.json
pnpm-lock.yaml

*.log

MapUI
